# I. Рядки (String).

1. Створити пустий рядок двома різними способами.

In [ ]:
str1 = ""
str2 = str()

2. Створити рядок з апострофом.

In [ ]:
str3 = 'Hello\' world!'

3. Створити рядок з символом переходу на новий рядок та роздрукувати його в консоль.

In [ ]:
str41 = "Hello \nworld!"
print(str41)

Hello
world!

4. Зробити рядок з завдання №3 "сирим"(raw), вивести в консоль та порівняти з результатом в попередному завданні.

In [ ]:
print(str41)
str4 = r"Hello \nworld!"
print(str4)
print(str41 == str4)

Hello
world!
Hello \nworld!
False

*місце для коментарів щодо результатів порівняння

5. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [1]:
surname = "Tsarenko"
print(f"My surname is {surname}")

My surname is Tsarenko

6. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
string = "My dog is crazy"
list_string = string.split()
print(list_string)

['My', 'dog', 'is', 'crazy']

# II. Множини (Set).

7. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [2]:
set_var = set(())
set_var.add(33)
set_var.add("hello")
set_var.add(True)
print(set_var)

{33, 'hello', True}

*місце для відповіді

8. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_list = set(my_list)
print(my_list)

{1, 2, 67, 8, 9}

Деякі елементи зникли тому що функція set видаляє символи які повторюються

9. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [3]:
set1 = set((0, 1, 2, 3, 4, 5, 6))
set2 = set((6, 7, 8, 9, 10, 11, 12))
print(set2.difference(set1))
print(set2.symmetric_difference(set1))
print(set2.intersection(set1))
print(set1.union(set2))

{7, 8, 9, 10, 11, 12}
{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12}
{6}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

10. Створіть множину з пʼяти елементів. За допомогою спеціального методу, вилучіть три елементи один за одним з множини. Чи може гарантуватися порядок елементів у множинах?

In [5]:
set_var = set((12, 2, 6, 4, 5))
set_var.pop()
set_var.pop()
set_var.pop()
set_var

{6, 12}

*місце для відповіді

# III. Словники (Dictionary).

11. Створіть пустий словник двома способами.

In [6]:
dict1 = {}
dict2 = dict()

12. До одного зі словників вище додайте чотири пари елементів такі, щоб їхні ключі були різних типів.

In [8]:
dict1["name"] = "Dmytro"
dict2["surname"] = "Tsarenko"
dict1["age"] = 19
dict2["universuty"] = "DUIKT"
dict1, dict2

({'age': 19, 'name': 'Dmytro'}, {'surname': 'Tsarenko', 'universuty': 'DUIKT'})

*чи може список бути ключем? а значенням? чому?

13. Використовуючи той самий словник, отримайте по ключу будь-яке значення з наявних. Тепер видаліть цю пару ключ-значення. Спробуйте знову отримати значення по цьому ж ключу. Використовуючи спеціальний метод, виправте помилку.

In [9]:
print(dict1.get("name"))
dict1.pop("name")
print(dict1.get("name"))

Dmytro
None

# IV. Оператори порівняння та логічні оператори. Умови.

14. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [13]:
LuckyNumber = 413
if LuckyNumber % 2 == 0:
  print(LuckyNumber * 2)
else:
  print(LuckyNumber * 3 + 1)

1240

15. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [14]:
name = "Dmytro"
name = name.lower()

if 'a' in name or 'i' in name:
    print("A or I is in the name")

if 'o' in name and 'n' in name:
    print("O and N is in the name")

if 'o' not in name and 'n' in name:
    print("Only N is in the name")

if 'n' not in name:
    print("There is no N in the name, but there might be O")

There is no N in the name, but there might be O

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.